:root {
    /* Terreno */ 
    --cor01: #65a30d;
    --cor02: #4d7c0f;
    --cor03: #3f6212;
    --cor04: #365314;
    --cor05: #1a2e05;

    /* cobrinha */

    --cobra01: #5eead4;
    --cobra02: #14b8a6;
    --cobra03: #0d9488;

    /* comida */

    --comida01: #ef4444;
    --comida02: #dc2626;
    --comida03: #b91c1c;

    /* interface */
    --interface01: #fcd34d;
    --interface02: #fbbf24;
    --interface03: #d97706;
    --interface04: #b45309;
    --interface05: #92400e;
    --interface06: #451a03;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    background: linear-gradient(to right, var(--interface01), var(--interface02), var(--interface03));
}

header h1 {
    text-align: center;
}

main {
    margin: auto;
    min-width: 320px;
    max-width: 640px;
}

.iniciacao {
    margin: 10px, auto;
    padding: 10px;
    background-color: var(--interface06);
    border: none;
    border-radius: 10px;
    color: var(--interface01);
    font-family: "Silkscreen", sans-serif;
    font-size: 24px;
}

#iniciar-jogo, #gameover {
    text-align: center;
    border: 1px solid blue;
}

#container {
    border: 1px solid purple;
}

#placar {
    width: 320px;
    margin: auto;
}
/* JOGO -------------------------------------  */ 

#tabuleiro {
    display: flex;
    justify-content: center;
    align-content: center;
}

.celula {
    width: 20px;
    height: 20px;
    background-color: var(--cor05);
    border: 1px solid var(--cor01);
}

.comida {
    background-color: var(--comida03);
    border: 1px solid var(--comida01);
}

.cobra-cabeca {
    background-color: var(--cobra03);
    border: 1px solid var(--cobra02);
    outline: 1px solid var(--cobra01);
}

.cobra-corpo {
    background-color: var(--cobra03);
    border: 1px solid var(--cobra02);
    outline: 1px solid var(--cobra01);
}

/* -------------- FIM DE JOGO -------------------------- */

#controles {
    padding: 15px;
    text-align: center;
    border: 1px solid navy;
}

.direcional {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: var(--interface06);
    color: var(--interface01);
    font-family: "Silkscreen", sans-serif;
    text-align: center;
}

#gameover {
    width: 160px;
    border: 1px solid purpe;
    padding: 15px;
}

#gameover h2 {
    display: none;
    color: var(--interface05);
    text-transform: uppercase;
}

footer p {
    font-size: .7em;
}